<h1>Click a Chart to View Content</h1>
<%= link_to "Create a new Top 100 List", new_billboard_chart_path %>
<ul>
  <% @billboardcharts.each do |chart| %>
    <li><%= link_to chart.name, chart %></li>
    <% end %>
  </ul>

