<h1><%= @billboard_chart.name %>/h1>
<hr />
<p>What would you like to do?</p>
<%= link_to 'View Artists', billboard_chart_artists_path(@billboard_chart) %>
<br />
<%= link_to 'Edit Chart', edit_billboard_chart_path(billboard_chart) %>
<br />
<%= link_to 'Delete Chart', @billboard_chart, method: :delete %>
