<h1><%= @billboard_chart.title %> Artists</h1>

<% @artists.each do |artist| %>
    
    <%=  link_to artist.name, [@billboard_chart, artist] %>
    
    <% end %>
    <%= link_to 'Create New Artist', new_billboard_chart_artist_path(@billboard_chart) %>
  </ul>

